body {    
    background-color: #0782b3;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
    max-width: 1200px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.img_size {
}
.title_photo {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
.my_photo{
    background: url(../images/1648690771_49-kartinkof-club-p-kartinki-smeshnie-voenkomat-50.jpg) no-repeat center center;
    background-size: 100%;
    width: 334px;
    height: 418px;
}
.nav_logo{
    background: url(../images/803-8030366_hd-wallpapers-aperture-science-logo-vector-aperture-science.png) no-repeat center center;
    background-size: 100%;
    width: 60px;
    height: 60px;
}
.button_js{
    text-align: center;
}

#myButton{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #0a4ad4;
    color: white;
    font-weight: bold;
}
.hello {
    text-align: center; 
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form, textarea {
    width: 100%;
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
}